Source: _APP_NAME_-mysql
Section: web
Priority: extra
Maintainer: Packager.io <support@packager.io>
Build-Depends: debhelper (>= 7)
Homepage: https://packager.io

Package: _APP_NAME_-mysql
Architecture: all
Pre-Depends: debconf
Provides: _APP_NAME_-mysql
Depends: dbconfig-common, mysql-client | virtual-mysql-client, ${misc:Depends}
Suggests: mysql-server
Description: Provides MySQL dependencies for _APP_NAME_.
