Source: _APP_NAME_-mysql
Section: web
Priority: extra
Maintainer: Packager.io <support@packager.io>
Build-Depends: debhelper (>= 7)
Homepage: https://packager.io

Package: _APP_NAME_-mysql
Architecture: amd64
Pre-Depends: mysql-client | virtual-mysql-client, debconf
Provides: _APP_NAME_-mysql
Depends: ${misc:Depends}
Suggests: mysql-server
Description: Provides MySQL dependencies for _APP_NAME_.
